header a{
    text-decoration: none;
    color: gray;
}
header .search-header{
    padding: 2.5rem 2rem;
}
header .shopping-cart{
    padding: 3rem 3rem;
}

.navbar-toggler{
    line-height: 1.5;
}

.navbar-toggler a{
    font-size: medium;
}