<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../css/Main.css">
</head>
<body>
        <header>
            <div class="header-top">
                <div class="container">
                    <div class="row">
                        <div class="col-md-9">
                            <div class="contact-header">
                                <i class="bi bi-envelope"></i>
                                <a href="#">Sonphaman5@gmail.com</a>
                                <i class="bi bi-phone"></i>
                                <a href="#">0789282470</a>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <a href="#">Đăng Nhập</a>/<a href="#">Đăng Ký</a>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-2">
                            <!-- Just an image -->
                            <nav class="navbar">
                                <a class="navbar-brand" href="#">
                                    <img src="../img/1750a9b6-a2df-4cb0-b853-19f69fcaeb92.png" width="200" height="75" alt="">
                                </a>
                            </nav>
                        </div>
                        <div class="col-md-7">
                            <div class="input-group rounded search-header">
                                <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
                                <span class="input-group-text border-0" id="search-addon">
                                    <a href=""><i class="bi bi-search"></i></a>
                                </span>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="shopping-cart">
                                <a href="">
                                <i class="bi bi-cart"></i>
                                <span>Giỏ Hàng</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <section id="navbar">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="nav-form">
                            <nav class="navbar navbar-toggler ">
                                <!-- Links -->
                                <ul class="navbar-nav">
                                   <li class="nav-item">
                                        <a class="nav-link" href="#"><i class="bi bi-keyboard"></i> LÓT CHUỘT</a>
                                   </li>
                                   <li class="nav-item">
                                        
                                        <a class="nav-link" href="#"><i class="bi bi-controller"></i> PHỤ KIỆN MÁY TÍNH</a>
                                   </li>
                                   <li class="nav-item">
                                      <a class="nav-link" href="#"><i class="bi bi-cassette"></i> MÔ HÌNH</a>
                                   </li>
                                   <li class="nav-item">
                                      <a class="nav-link" href="#"><i class="bi bi-box-seam"></i> PHỤ KIỆN TRANG TRÍ</a>
                                   </li>
                                   <li class="nav-item">
                                      <a class="nav-link" href="#"><i class="bi bi-speaker"></i> LOA MICRO WEBCAM</a>
                                   </li>
                                   <li class="nav-item">
                                      <a class="nav-link" href="#">GHẾ GAMING</a>
                                   </li>
                                   <li class="nav-item">
                                      <a class="nav-link" href="#">BÀN GAMING</a>
                                   </li>
                                   <li class="nav-item">
                                      <a class="nav-link" href="#">BỘ CHIA TÍN HIỆU</a>
                                   </li>
                                   <li class="nav-item">
                                      <a class="nav-link" href="#">MÁY IN </a>
                                   </li>
                                   <li class="nav-item">
                                      <a class="nav-link" href="#">PHỤ KIỆN ĐIỆN THOẠI</a>
                                   </li>
                                </ul>
                             </nav>
                        </div>
                    </div>
                    <div class="col-md-9">

                    </div>
                </div>
            </div>
        </section>










    <!-- Script -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>